<!DOCTYPE html>
<html>

<head>
  <title>About</title>
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="icon" href="/image/weather.png">
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>This site was created by Anthony. It uses data from mapbox.com and darksky.net</p>
  </div>
  {{>footer}}
</body>

</html>